<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            var user_id = {{ user.id if user else 'null' }};

            socket.on('connect', function() {
                socket.emit('message', {'user_id': user_name, 'message': 'User has connected!'});
            });

            socket.on('message', function(data) {
                $('#messages').append('<div><strong>' + data.user_name + ':</strong> ' + data.message + '</div>');
            });

            $('form').submit(function(event){
                socket.emit('message', {'user_name': user_name, 'message': $('#input').val()});
                $('#input').val('');
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="messages"></div>
    <form action="">
        <input id="input" autocomplete="off" placeholder="Type your message here..." required /><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>